/ShopBridgeCodeAssignment/ShopBridgeApp/packages
/ShopBridgeCodeAssignment/ShopBridgeApp/obj
/ShopBridgeCodeAssignment/ShopBridgeApp/bin
/ShopBridgeCodeAssignment/ShopBridgeBAL/bin
/ShopBridgeCodeAssignment/ShopBridgeBAL/obj
/ShopBridgeCodeAssignment/ShopBridgeDAL/obj
/ShopBridgeCodeAssignment/ShopBridgeDAL/bin
/ShopBridgeCodeAssignment/ShopBridgeTest/obj
/ShopBridgeCodeAssignment/ShopBridgeTest/bin
